body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
}

/* minor changes at this part */
input[type="text"],
input[type="time"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #e0e0e0; 
    color: #555; 
    border: none; 
    border-radius: 5px;
}
/*end of changes */

.menu-items-container {
    margin: 20px 0;
}

.menu-item-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.add-item-btn {
    text-align: center;
    margin: 10px 0;
}

/* button color changes */
button {
    background-color: #f7c353;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F59500;
}
/* end of changes */
