body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    font-size: 16px;
    margin-top: 0;
}

form {
    margin-top: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 96.2%;
    max-width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Disable resizing */
    overflow: hidden; /* Hide scrollbars */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #FAAE0B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #F59500;
    font-weight: bold;
}

.info-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.info-icon {
    width: 24px;  /* Maintain icon size */
    height: 24px;
}


.menu-button {
    background-color: #4CAF50; 
    margin-top: 10px;
}

.menu-button:hover {
    background-color: #45a049;
}
