* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
}

.message-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.back-button {
    background-color: #ffcd43;
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #ffca28;
}