* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: #f6e497;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cross {
    display: none; /* Initially hide the cross */
    margin-left: 10px; /* Space between name and cross */
    color: red; /* Color of the cross */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.menu-item:hover .cross {
    display: inline; /* Show the cross on hover */
}

.menu-item {
    background-color: #f8e6be;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #F59500;
}

.menu-item.selected {
    font-weight: bold;
    background-color: #F59500;
    color: white;
}

.menu-item.add-item {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #d7d2c8;
}

.content {
    width: 80%;
    padding: 20px;
    background-color: #F9F9F9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.close-button {
    background-color: #d6b768;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #c59738;
}

.details {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.image-upload-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #F4F4F4;
    height: 220px;
    width: 220px;
    margin-right: 20px;
    border-radius: 20px; 
}

.food-image {
    width: 220px;
    height: auto;
    border-radius: 20px;
}


.upload-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-icon {
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

.upload-icon-wrapper:hover {
    opacity: 1;
}

.info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #555;
    font-size: 16px;
}

input[disabled], textarea[disabled] {
    background-color: #F0F0F0;
    color: #888;
}

textarea {
    resize: none;
}

.edit-button {
    background-color: #f7c353;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #F59500;
}

.delete-button {
    background-color: #f93d3d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #be2a2a;
}

.menu-item.add-item:hover { 
    background-color: #F59500; 
}

.menu-item.disabled {
    opacity: 0.5; /* Dimmed appearance */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.disabled {
    opacity: 0.5; /* Dim the button */
    pointer-events: none; /* Prevent click events */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
}
