/* Universal font */
* {
    font-family: Arial, sans-serif;
}

/* CSS for Map Container */
#map {
    height: 500px;
    width: 100%;
}

/* Styling each stall card */
.stall {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAF0;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    color: black; 
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.2); /* Shadow */
}

/* Stall image styling */
.stall img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Direction button styling */
#directionButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Review button styling */
.stall .review-button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* Rating and timing styling */
.stall .timing, .stall .rating {
    font-size: 14px;
    margin: 5px 0;
}

.stall .rating {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.stall:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#stallContainer {
    margin-top: 20px;
    text-align: center;
}

#stallHeading {
    margin-bottom: 20px;
}

#stallList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
