/* CSS for Map Container */
#map {
    height: 500px;
    width: 100%;
}
/* Add basic styling for the modal */
#stallList {
    margin-top: 20px;
}
.stall {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
}
.stall img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#menuItems {
    margin-top: 20px;
}