* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.header h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 0;
    background-color: #d2a74b;
    border: none;
    color: black;
    font-size: 1.5em;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #b58b3e;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.header h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

.fault-reports {
    background-color: #f7e4b5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fault-item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
}

.fault-item:last-child {
    border-bottom: none;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #f0c74b;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1.1em;
    margin: 0;
}

